body {
    background-color: rgb(80, 56, 120);
    padding: 0;
    margin: 0;
}

#main_menu {
    width: 100%;
    list-style: none;
    padding: 0;
    font-family: Impact
}

#main_menu li {
    display: inline-block;
}

#main_menu li a {
    display: block;
    padding: 30px 35px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#main_menu li a:hover {
    color: #ffd365;
}

.me {
    position: relative;
    margin: 20px 140px;
    grid-area: 1 / 1 / 6 / 2;
    justify-self: start;
    align-self: start;
}

.aboutme {
    margin: 20px;
    content: normal;
}

.background {
    width: 400px;
    height: 400px;
    margin: 30px 40px;
    float: left;
}
.bg_2{
    background-image: url(image/IMG_2223.JPG);
}

.sayhi {
    font-size: 30px;
    font-family: Impact;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.vcenter{
    position: absolute;
    left: 10%;
    top: 50%;
    color: aliceblue;
    font-family: Impact;
    font-size: 40px;
}
.asha {
    font-family: monospace;
}

.box{
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 20px;
    color: rgb(255, 255, 255)
}

#A{
    width: auto;
    height: 400px;
    margin: 100px 100px 60px 100px;
    border-radius: 10px;
    display: block;
}
a.move{
    color: #ffd365;
    font-size: 30px;
    padding: 15px 25px;
    text-decoration: none;
}
#word {
    height: 500px;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Impact
}

.box3 {
    width: auto;
    height: 300px;
    background: transparent;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

.sns {
    text-align: center;
    margin: 60px 0;
    padding: 0;
}

.sns li {
    display: inline-block;
    margin: 0 0.60em;
}

.twitter_link {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(image/twitter_logo.png);
    background-size: cover;
    background-position: center;
}

.pixiv_link {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(image/pixiv-256.png);
    background-size: cover;
    background-position: center;
}

.ig_link {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(image/pngegg.png);
    background-size: cover;
    background-position: center;
}

.contact {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace
}

hr {
    border-width: 1px;
    margin-inline-start: 80px;
    margin-inline-end: 80px;
    margin: 100px;
}

.paining {
    width: 400px;
    float: right;
}

.box5 {
    width: auto;
    height: auto;
    margin: 10px
}

.title {
    margin: 0px;
    text-align: center;
}

.title2 {
    margin: 20px;
    text-align: center;
}

.title3 {
    margin: 20px;
    text-align: center;
}

.title4 {
    margin: 20px;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bob-container {
    margin-left: auto;
    margin: 100px auto 100px auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 550px;
    background: transparent;
    background-position: center;
}

.bob-containe2r {
    margin-left: auto;
    margin: 100px auto 100px auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 200px;
    background: transparent;
    background-position: center;
}

.bob-3item,
.bob-4item {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.bob-3item img,
.bob-4item img {
    width: 100%;
    display: block;
    object-fit: contain;
}

.bob-3item {
    width: 100%;
}

@media (min-width: 768px) {
    .bob-container {
        width: 750px;
    }

    .bob-3item {
        width: 33.33333333%;
    }

    .bob-4item {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .bob-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .bob-container {
        width: 1170px;
    }
}

.youtube {
    margin:90px 0px ;
    text-align: center;
    color: rgb(255, 255, 255);
}

.introduce {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: monospace
}

.nextpage {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.nextpage a {
    color: rgb(255, 255, 255);
    font-family: Impact
}

.nextpage a:hover {
    color: #ffd365;
}

.bg_1{
    background-image: url(image/Both_2.JPG);
}
.color_1{
    background-color: rgb(80, 56, 120);
}
.fixed_bg, .infos{
    position: relative;
    height: 100%;
}
.fixed_bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    height: 60vw;
    max-height: 450px;
}